In [1]:
import pandas as pd

In [2]:
#Steps
## define URLs
## import csv files as dataframes
## changes column name to standardize
## replacing <1 in'sexual_violence' term to 0
# transform ND_df['sexual_violence'] from object to int
## transforming month column object %Y%m as date type
## extract year from the date 
## group data by year and reset index
## create state and state_abbrv columns
## concat dataframes
## removing rows with 2022 year data
## export dataframe as csv

In [3]:
#Google trends Interest over time data
#define local URL
TX_URL_IOT = 'google_trends_data/multiTimeline-TX-webs.csv'
TN_URL_IOT = 'google_trends_data/multiTimeline-TN-webs.csv'
VT_URL_IOT = 'google_trends_data/multiTimeline-Vt-webs.csv'
IL_URL_IOT = 'google_trends_data/multiTimeline-IL-webs.csv'
AK_URL_IOT = 'google_trends_data/multiTimeline-AK-webs.csv'
ND_URL_IOT = 'google_trends_data/multiTimeline-ND-webs.csv'
MN_URL_IOT = 'google_trends_data/multiTimeline-MN-webs.csv'
MI_URL_IOT = 'google_trends_data/multiTimeline-MI-webs.csv'

In [4]:
## import csv files as dataframes using pandas
TX_df = pd.read_csv(TX_URL_IOT, skiprows=2)
IL_df = pd.read_csv(IL_URL_IOT, skiprows=2)
AK_df = pd.read_csv(AK_URL_IOT, skiprows=2)
ND_df = pd.read_csv(ND_URL_IOT, skiprows=2)
MN_df = pd.read_csv(MN_URL_IOT, skiprows=2)
MI_df = pd.read_csv(MI_URL_IOT, skiprows=2)
TN_df = pd.read_csv(TN_URL_IOT, skiprows=2)
VT_df = pd.read_csv(VT_URL_IOT, skiprows=2)

FileNotFoundError: [Errno 2] No such file or directory: 'google_trends_data/multiTimeline-TX-webs.csv'

In [44]:
# dataframes variables to validate
# TX_df
# IL_df
# AK_df
# ND_df
# MN_df
# MI_df
# TN_df
# VT_df
TX_df.columns

,Month,domesti_violence,handgun,rape,abuse,sexual_violence,state,state_abbrv
0,2004-01,7,13,22,30,2,Texas,TX
1,2004-02,6,5,26,38,0,Texas,TX
2,2004-03,3,6,37,44,0,Texas,TX
3,2004-04,4,11,31,49,0,Texas,TX
4,2004-05,4,11,32,100,0,Texas,TX
...,...,...,...,...,...,...,...,...
222,2022-07,4,5,15,16,<1,Texas,TX
223,2022-08,4,5,12,17,<1,Texas,TX
224,2022-09,4,4,18,18,<1,Texas,TX
225,2022-10,6,4,13,19,<1,Texas,TX
226,2022-11,4,4,12,19,<1,Texas,TX

In [5]:
##changes column name to standardize
columns_dict_TX = {'"domestic violence": (Texas)':'domestic_violence',
                    '"handgun": (Texas)':'handgun',
                    '"rape": (Texas)':'rape',
                    '"abuse": (Texas)':'abuse',
                    '"sexual violence": (Texas)':'sexual_violence',
                    'Month': 'month'
                    }
    

TX_df = TX_df.rename(columns=columns_dict_TX)
TX_df 


columns_dict_IL = {'"domestic violence": (Illinois)':'domestic_violence',
                    '"handgun": (Illinois)':'handgun',
                    '"rape": (Illinois)':'rape',
                    '"abuse": (Illinois)':'abuse',
                    '"sexual violence": (Illinois)':'sexual_violence',
                    'Month': 'month'
                    }
    

IL_df = IL_df.rename(columns=columns_dict_IL)
IL_df
columns_dict_IL = {'"domestic violence": (Illinois)':'domestic_violence',
                    '"handgun": (Illinois)':'handgun',
                    '"rape": (Illinois)':'rape',
                    '"abuse": (Illinois)':'abuse',
                    '"sexual violence": (Illinois)':'sexual_violence',
                    'Month': 'month'
                    }
    

IL_df = IL_df.rename(columns=columns_dict_IL)
IL_df

columns_dict_AK = {'"domestic violence": (Alaska)':'domestic_violence',
                    '"handgun": (Alaska)':'handgun',
                    '"rape": (Alaska)':'rape',
                    '"abuse": (Alaska)':'abuse',
                    '"sexual violence": (Alaska)':'sexual_violence',
                    'Month': 'month'
                    }
    

AK_df = AK_df.rename(columns=columns_dict_AK)
AK_df

columns_dict_MI = {'"domestic violence": (Michigan)':'domestic_violence',
                    '"handgun": (Michigan)':'handgun',
                    '"rape": (Michigan)':'rape',
                    '"abuse": (Michigan)':'abuse',
                    '"sexual violence": (Michigan)':'sexual_violence',
                    'Month': 'month'
                    }
    

MI_df = MI_df.rename(columns=columns_dict_MI)
MI_df

columns_dict_MN = {'"domestic violence": (Minnesota)':'domestic_violence',
                    '"handgun": (Minnesota)':'handgun',
                    '"rape": (Minnesota)':'rape',
                    '"abuse": (Minnesota)':'abuse',
                    '"sexual violence": (Minnesota)':'sexual_violence',
                    'Month': 'month'
                    }
    

MN_df = MN_df.rename(columns=columns_dict_MN)
MN_df

columns_dict_ND = {'"domestic violence": (North Dakota)':'domestic_violence',
                    '"handgun": (North Dakota)':'handgun',
                    '"rape": (North Dakota)':'rape',
                    '"abuse": (North Dakota)':'abuse',
                    '"sexual violence": (North Dakota)':'sexual_violence',
                    'Month': 'month'
                    }
    

ND_df = ND_df.rename(columns=columns_dict_ND)
ND_df

columns_dict_TN = {'"domestic violence": (Tennessee)':'domestic_violence',
                    '"handgun": (Tennessee)':'handgun',
                    '"rape": (Tennessee)':'rape',
                    '"abuse": (Tennessee)':'abuse',
                    '"sexual violence": (Tennessee)':'sexual_violence',
                    'Month': 'month'
                    }
    

TN_df = TN_df.rename(columns=columns_dict_TN)
TN_df

columns_dict_VT = {'"domestic violence": (Vermont)':'domestic_violence',
                    '"handgun": (Vermont)':'handgun',
                    '"rape": (Vermont)':'rape',
                    '"abuse": (Vermont)':'abuse',
                    '"sexual violence": (Vermont)':'sexual_violence',
                    'Month': 'month'
                    }
    

VT_df = VT_df.rename(columns=columns_dict_VT)
VT_df

       month  domestic_violence  handgun  rape  abuse  sexual_violence
0    2004-01                  0       51    25      0                0
1    2004-02                  0        0    44      0                0
2    2004-03                  0       30     0      0                0
3    2004-04                  0        0    43     64                0
4    2004-05                  0        0     0    100                0
..       ...                ...      ...   ...    ...              ...
222  2022-07                  4        3    12     18                0
223  2022-08                  3        2     8     17                0
224  2022-09                  3        3    12     22                0
225  2022-10                  0        3    14     20                0
226  2022-11                  5        7    15     16                0

[227 rows x 6 columns]

In [6]:
#transforming month column object %Y%m as date type
VT_df['date'] = pd.to_datetime(VT_df['month']) #, format="%Y%m"
TN_df['date'] = pd.to_datetime(TN_df['month'])
AK_df['date'] = pd.to_datetime(AK_df['month'])
IL_df['date'] = pd.to_datetime(MI_df['month'])
MI_df['date'] = pd.to_datetime(VT_df['month'])
MN_df['date'] = pd.to_datetime(MN_df['month'])
TX_df['date'] = pd.to_datetime(TX_df['month'])
ND_df['date'] = pd.to_datetime(ND_df['month'])

In [7]:
# replacing <1 in'sexual_violence' term to 0
TX_df['sexual_violence'] = TX_df['sexual_violence'].replace('<1', '0')
VT_df['sexual_violence'] = VT_df['sexual_violence'].replace('<1', '0')
TN_df['sexual_violence'] = TN_df['sexual_violence'].replace('<1', '0')
AK_df['sexual_violence'] = AK_df['sexual_violence'].replace('<1', '0')
IL_df['sexual_violence'] = IL_df['sexual_violence'].replace('<1', '0')
MI_df['sexual_violence'] = MI_df['sexual_violence'].replace('<1', '0')
MN_df['sexual_violence'] = MN_df['sexual_violence'].replace('<1', '0')
ND_df['sexual_violence'] = ND_df['sexual_violence'].replace('<1', '0')

In [8]:
# transform ND_df['sexual_violence'] from object to int
TX_df['sexual_violence'] = TX_df['sexual_violence'].astype('int64')
IL_df['sexual_violence'] = IL_df['sexual_violence'].astype('int64')
AK_df['sexual_violence'] = AK_df['sexual_violence'].astype('int64')
ND_df['sexual_violence'] = ND_df['sexual_violence'].astype('int64')
MN_df['sexual_violence'] = MN_df['sexual_violence'].astype('int64')
MI_df['sexual_violence'] = MI_df['sexual_violence'].astype('int64')
TN_df['sexual_violence'] = TN_df['sexual_violence'].astype('int64')
VT_df['sexual_violence'] = VT_df['sexual_violence'].astype('int64')

In [24]:
TX_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   month              227 non-null    object
 1   domestic_violence  227 non-null    int64
 2   handgun            227 non-null    int64
 3   rape               227 non-null    int64
 4   abuse              227 non-null    int64
 5   sexual_violence    227 non-null    int64
 6   date               227 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 12.5+ KB

In [9]:
#extracting year from the date
VT_df['year'] = VT_df['date'].dt.year 
TN_df['year'] = TN_df['date'].dt.year
AK_df['year'] = AK_df['date'].dt.year
IL_df['year'] = IL_df['date'].dt.year
MI_df['year'] = MI_df['date'].dt.year
MN_df['year'] = MN_df['date'].dt.year
TX_df['year'] = TX_df['date'].dt.year
ND_df['year'] = ND_df['date'].dt.year
MN_df

,month,domestic_violence,handgun,rape,abuse,sexual_violence,date,year
0,2004-01,9,11,29,53,0,2004-01-01,2004
1,2004-02,8,0,21,48,0,2004-02-01,2004
2,2004-03,11,18,25,44,0,2004-03-01,2004
3,2004-04,0,0,40,62,0,2004-04-01,2004
4,2004-05,8,10,23,100,4,2004-05-01,2004
...,...,...,...,...,...,...,...,...
222,2022-07,4,4,15,17,0,2022-07-01,2022
223,2022-08,4,4,14,17,0,2022-08-01,2022
224,2022-09,4,3,18,20,1,2022-09-01,2022
225,2022-10,4,3,14,21,0,2022-10-01,2022
226,2022-11,3,4,11,20,1,2022-11-01,2022

In [10]:
##group data by year and reset index
VT_grouped = VT_df.groupby(['year']).sum().reset_index()
TN_grouped = TN_df.groupby(['year']).sum().reset_index()
AK_grouped = AK_df.groupby(['year']).sum().reset_index()
IL_grouped = IL_df.groupby(['year']).sum().reset_index()
MI_grouped = MI_df.groupby(['year']).sum().reset_index()
MN_grouped = MN_df.groupby(['year']).sum().reset_index()
TX_grouped = TX_df.groupby(['year']).sum().reset_index()
ND_grouped = ND_df.groupby(['year']).sum().reset_index()
AK_grouped

    year  domestic_violence  handgun  rape  abuse  sexual_violence
0   2004                 62       44   210    412                0
1   2005                159       74   330    426                0
2   2006                118      110   234    322                0
3   2007                 68       67   245    276                0
4   2008                 65       87   256    282                0
5   2009                 74       60   279    187                0
6   2010                 74       73   310    286                0
7   2011                 78       67   246    248                0
8   2012                 65       82   300    229                0
9   2013                 51       70   355    213                0
10  2014                 69       81   373    239                0
11  2015                 69       88   321    227                0
12  2016                 65       68   312    214                0
13  2017                 72       70   250    195                0
14  2018                 69       55   217    221                0
15  2019                 64       71   192    193                0
16  2020                 62       59   172    175                0
17  2021                 35       43   157    196                0
18  2022                 58       54   126    167                0

In [11]:
## create state and state_abbrv columns

##Create State name column
TX_grouped['state'] = 'Texas'
IL_grouped['state'] = 'Illinois'
AK_grouped['state'] = 'Alaska'
ND_grouped['state'] = 'North Dakota'
MN_grouped['state'] = 'Minnesota'
MI_grouped['state'] = 'Michigan'
TN_grouped['state'] = 'Tennessee'
VT_grouped['state'] = 'Vermont'

##Create State abbreviation column
TX_grouped['state_abbrv'] = 'TX'
IL_grouped['state_abbrv'] = 'IL'
AK_grouped['state_abbrv'] = 'AK'
ND_grouped['state_abbrv'] = 'ND'
MN_grouped['state_abbrv'] = 'MN'
MI_grouped['state_abbrv'] = 'MI'
TN_grouped['state_abbrv'] = 'TN'
VT_grouped['state_abbrv'] = 'VT'

TN_grouped

,year,domestic_violence,handgun,rape,abuse,sexual_violence,state,state_abbrv
0,2004,86,116,301,384,6,Tennessee,TN
1,2005,60,90,304,349,11,Tennessee,TN
2,2006,27,97,265,317,0,Tennessee,TN
3,2007,64,101,279,300,8,Tennessee,TN
4,2008,46,136,290,282,5,Tennessee,TN
5,2009,64,149,307,294,9,Tennessee,TN
6,2010,59,104,296,310,3,Tennessee,TN
7,2011,57,110,298,299,0,Tennessee,TN
8,2012,55,128,361,277,1,Tennessee,TN
9,2013,49,127,404,249,0,Tennessee,TN
10,2014,57,99,406,261,1,Tennessee,TN
11,2015,59,121,417,262,3,Tennessee,TN
12,2016,56,114,389,231,1,Tennessee,TN
13,2017,53,102,288,234,2,Tennessee,TN
14,2018,54,85,237,231,0,Tennessee,TN
15,2019,53,83,215,223,0,Tennessee,TN
16,2020,46,110,200,203,0,Tennessee,TN
17,2021,50,72,193,197,0,Tennessee,TN
18,2022,49,61,165,196,0,Tennessee,TN

In [12]:
# concatenating dfataframes along rows
google_trends_df = pd.concat([TX_grouped, 
                              IL_grouped, 
                              AK_grouped, 
                              ND_grouped, 
                              MN_grouped, 
                              MI_grouped, 
                              TN_grouped, 
                              VT_grouped],  axis=0).reset_index() #join='inner',
google_trends_df = google_trends_df.drop(columns='index')
google_trends_df

,year,domestic_violence,handgun,rape,abuse,sexual_violence,state,state_abbrv
0,2004,53,96,329,492,7,Texas,TX
1,2005,45,115,305,371,5,Texas,TX
2,2006,45,103,273,326,3,Texas,TX
3,2007,42,101,260,292,1,Texas,TX
4,2008,46,120,284,287,2,Texas,TX
...,...,...,...,...,...,...,...,...
147,2018,71,50,246,295,0,Vermont,VT
148,2019,62,54,208,302,0,Vermont,VT
149,2020,46,72,209,243,0,Vermont,VT
150,2021,46,49,169,221,0,Vermont,VT
151,2022,42,43,145,215,0,Vermont,VT

In [18]:
index_2022 = google_trends_df[google_trends_df['year'] == 2022].index
google_trends_df = google_trends_df.drop(index_2022)
#google_trends_df[google_trends_df['year'] == 2022]

Empty DataFrame
Columns: [year, domestic_violence, handgun, rape, abuse, sexual_violence, state, state_abbrv]
Index: []

In [20]:
## export dataframe as csv
google_trends_df.to_csv('google_trends_data/clean_google_trends_data_v2.csv', index=False, encoding="utf-8")

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=dbf2a01f-3e99-4593-9faf-0399a8afaf03' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>